.chef-singl-card{
    /* border: 1px solid rgb(218, 218, 209); */
    /* margin: 100px; */
    padding: 10px;
    border-radius: 5px;
}

.chef-card-image{
    /* width: 300px; */
}
.chef-singl-card > img{
    border-radius: 5px;
}
.like-recipe-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    /* width: 80%; */
    align-items: center;
    
}